/*****************************************************************************
 * CSS
 ****************************************************************************/

.button { margin-top: 2em; padding: 0 1em; }

.dictionaryInfo { font-size: 0.8em; padding-top: 2em; }

.inputWord { width: 25em; }

.hauto { height: auto; }

.hidden { visibility: hidden; }

.loading { color: silver; font-size: 0.8em; padding: 1em 1em 0 1em; text-align: right; }

.message { padding: 1em 0; text-align: center; }

.selectDictionary { width: 60%; }

.tip { font-size: 0.8em; padding: 1em; }


/*****************************************************************************
 * Angular patches
 ****************************************************************************/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-select .md-select-value.md-select-placeholder,
md-select:not([disabled]):focus .md-select-value,
md-select:not([disabled]):focus .md-select-value.md-select-placeholder {
  border-bottom-color: rgba(0,0,0,0.12);
  border-bottom-width: 1px;
  color: rgba(255,255,255,0.87);
  padding-bottom: 1px;
}

md-input-container {
  margin: 0.5em 0 0 0;
  padding: 0;
}