<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WB</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="app" ng-controller="AppController" ng-cloak>
  <md-toolbar layout="row">
    <md-button>
      <h1>WB</h1>
    </md-button>
    <span flex></span>
    <md-select class="w60p" placeholder="{{ml.txtSelectDict}}" ng-model="model.dictionary.id" ng-change="selectDictionary()" ng-show="model.dictionaries">
      <md-option ng-value="dictionary.id" ng-repeat="dictionary in model.dictionaries">{{dictionary.name}}</md-option>
    </md-select>
    <span flex></span>
    <md-button aria-label="logout" ng-click="askLogout()">
      <md-tooltip>{{ml.tipExit}}</md-tooltip>
      <ng-md-icon class="hauto" icon="logout" size="48"></ng-md-icon>
    </md-button>
  </md-toolbar>

  <section layout="column" layout-align="center center" ng-show="model.error">
    <p class="error">{{ml.errResponse}}</p>
    <md-button class="md-raised md-warn button" ng-click="repeatRequest()">
      <md-tooltip>{{ml.tipRepeat}}</md-tooltip>
      {{ml.btnRepeat}}
    </md-button>
  </section>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
  <script src="js/simulator.js"></script>
  <script src="js/appcontroller.js"></script>
  <script src="js/boot.js"></script>
</body>
</html>
