<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WB</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="app" ng-controller="AppController" ng-cloak>
  <md-toolbar layout="row">
    <md-button>
      <h1>WB</h1>
    </md-button>
    <span flex></span>
    <md-select class="selectDictionary" placeholder="{{ml.txtSelectDictionary}}" ng-model="model.dictionary.id" ng-change="selectDictionary()" ng-show="model.dictionaries">
      <md-option ng-value="dictionary.id" ng-repeat="dictionary in model.dictionaries">{{dictionary.name}}</md-option>
    </md-select>
    <span flex></span>
    <md-button aria-label="logout" ng-click="askLogout()" ng-show="model.email">
      <md-tooltip>{{ml.tipExit}}</md-tooltip>
      <ng-md-icon class="hauto" icon="logout" size="48"></ng-md-icon>
    </md-button>
  </md-toolbar>

  <div class="loading" ng-class="{hidden:!model.loading}">{{ml.txtLoading}}</div>

  <section layout="column" layout-align="center center" ng-show="!model.email">
    <div class="message">{{ml.txtAppInfo}}</div>
    <md-button class="md-raised md-primary button" ng-click="login()">
      <md-tooltip>{{ml.tipLogin}}</md-tooltip>
      {{ml.btnLogin}}
    </md-button>
  </section>

  <section layout="column" layout-align="center center" ng-show="model.showError">
    <div class="message">{{ml.errResponse}}</div>
    <md-button class="md-raised md-warn button" ng-click="repeatRequest()">
      <md-tooltip>{{ml.tipRepeat}}</md-tooltip>
      {{ml.btnRepeat}}
    </md-button>
  </section>

  <section layout="column" layout-align="center center" ng-show="model.showDictionary">
    <form layout="column" layout-align="center center" name="formCheckWrd">
      <md-input-container class="inputWord">
        <label>{{model.dictionary.from}}</label>
        <input ng-model="model.dictionary.word.translation" disabled>
      </md-input-container>

      <md-input-container class="inputWord">
        <label>{{model.dictionary.to}}</label>
        <input id="spelling" ng-model="model.dictionary.word.spelling" placeholder="" data-ng-disabled="model.evaluation">
        <div class="tip" ng-class="{hidden:!model.dictionary.word.tip}">{{ml.txtTip}} {{model.dictionary.word.tip}}</div>
      </md-input-container>

      <section layout="row" ng-show="!model.evaluation">
        <md-button class="md-raised md-primary button" ng-click="checkWord()" data-ng-disabled="!model.dictionary.word.spelling">
          {{ml.btnCkeckWord}}
        </md-button>

        <md-button class="md-raised button" ng-click="suggestWord()">
          {{ml.btnSuggestWord}}
        </md-button>
      </section>

      <section layout="column" layout-align="center center" ng-show="model.evaluation">
        <div class="resultOK" ng-show="!model.evaluation.result">
          <div>{{ml.txtCorrect}}</div>
        </div>

        <div class="resultNOK" ng-show="model.evaluation.result">
          <div>{{ml.txtCorrectVariant}} {{model.evaluation.spelling}}</div>
        </div>

        <md-button class="md-raised md-primary button" ng-click="nextWord()">
          {{ml.btnContinue}}
        </md-button>
      </section>
    </form>

    <div class="dictionaryInfo">
      {{ml.txtWordsTotal}} {{model.dictionary.total}},
      {{ml.txtWordsLearned}} {{model.dictionary.learned}},
      {{ml.txtWordsWait}} {{model.dictionary.active}}
    </div>
  </section>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="js/simulator.js"></script>
  <script src="js/appcontroller.js"></script>
  <script src="js/boot.js"></script>
</body>
</html>
